<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Restaurants I've Worked At</h1>
    <ul>
        <% restaurants.forEach(function(restaurant) { %>
            <li>
                <%= restaurant.restaurant %> - <%= restaurant.done ? 'done' : 'not done' %>
            </li>
            <% }); %>
    </ul>
</body>
</html>